
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


html, body {
  min-height: 100%;
}


body {

  background-image: url("../img/fond.webp"); 
 
  
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
 
}
a {
  color: #0d6efd;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.card {
  background-color: #1f1f1f;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.02);
}
.card-title{
color: purple;
text-align: center;
}
.card-text{
  color: antiquewhite;
  text-align: center;
}

.speech-bubble {
  position: relative;
  background: #f0f0f0;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 15px;
  max-width: 90%; 
  
  margin: 20px auto; 
  font-family: sans-serif;
}

.speech-bubble::after {
  content: "";
  position: absolute;
  bottom: -20px;  
  left: 100px;
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: #f0f0f0 transparent;
  display: block;

  
}
model-viewer {
  display: block;

  

}
@media (max-width: 600px) {
  .speech-bubble {
    margin: 10px auto;
    max-width: 95%;
  }
  .speech-bubble::after {
    left: 10%; /* par exemple */
  }
}

