*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-image:url(../images/backgound.jpg) ;
background-repeat: no-repeat;
background-size: cover;


}
h1{
    text-align: center;
}

p{
    text-align: center;
}
button{
    width: 80px;
   height: 80px;
   border: solid 1px red;
   font-weight: bold;
   font-size: 30px;
    
    
}

.image{
    text-align: center;
 
}
img{
    width: 30%;
}
.TiretMot{
    display: flex;
    justify-content: space-around;
    font-size: 100px;
    
}
span{
    font-size: 30px;

}
.divSpan{
    text-align: center;
}
.btnRejouer{
    text-align: center;
}

main .boutonClass{
    margin: auto;
}
.boutonClass{
   width: 70%;
    text-align: center;
    border: solid 1px green;
}
.btnRejouer button{
    width: 150px;
}